{{name}}

{{#if expertise.plumbing}}
<span class="badge pull-right">P</span>
{{/if}}
{{#if expertise.electrical}}
<span class="badge pull-right">E</span>
{{/if}}
{{#if expertise.flooring}}
<span class="badge pull-right">F</span>
{{/if}}
{{#if expertise.drywall}}
<span class="badge pull-right">D</span>
{{/if}}
{{#if expertise.roofing}}
<span class="badge pull-right">R</span>
{{/if}}
