<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAngie" class="col-sm-2 control-label">Angie's List Profile</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="angie" name="angie" placeholder="Enter Your Angie's List Profile Url">
        </div>
    </div>
    <div class="form-group">
        <label for="inputSkills" class="col-sm-2" control-label">Fields of Expertise</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" name="plumbing"> Plumbing
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" name="electrical"> Electical
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" name="flooring"> Flooring
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" name="drywall"> Drywall
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" name="roofing"> Roofing
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2">
            <button type="submit" class="btn btn-lg btn-default">Sign in</button>
        </div>
    </div>
</form>